*.o
*.swo
*.swp
*.so
*.a
a.out
.vscode
*.pyc

*.lo
*.i
*.s
.DS_Store

.Note.txt
*.carv
*.ll

lib/*_probe_names.txt

**/tmp
**/tmp*

funcs.txt
funcs_size.txt

*.driver
*.init

**/input

__pycache__

**/carved
log
