*.o
*.swo
*.swp
*.so
*.a
a.out
.vscode
*.pyc

*.lo
*.i
*.s
.DS_Store

.Note.txt
*.carv
*.ll

lib/*_probe_names.txt

**/tmp
**/tmp*

funcs.txt
funcs_size.txt

*.driver
*.init

**/input

__pycache__

**/carved
log

*.bc

carved_types.txt
func_types.txt

*.gcno
*.gcda

target_funcs.txt
test/map_test
test/boost_map
test/results
test/yang

test/model_test/main
test/model_test/carv_out
subject/
